{% extends 'layout.html.twig' %}

{% block title %}Index{% endblock %}

{% block stylesheets %}{% endblock %}

{% block page_content %}

    <div class="wrapper">
        <div id="starfield"></div>
        <div class="mode">
            <div>8-bit</div>
            <div class="selected">16-bit</div>
            <div>Manual</div>
        </div>
        <div class="manual scroll">
            <span></span>
        </div>
        <div class="timeline"></div>
    </div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/starscroll.js') }}"></script>
    <script src="{{ asset('js/controls.js') }}"></script>
    <script type="text/javascript">

        var username = "{{ app.user.username }}";

        function enableInvertScroll() {
            $.jInvertScroll(['.scroll'], {
                width: 'auto',
                height: 'auto',
                onScroll: function (percent) {}
            });
        }

        function calcMaxWidth() {
            var width = 0;
            $('.manual span').find('.article').each(function () {
                width += $(this).outerWidth(true);
            });
            $('.manual').css('width', width + 750 + 'px');
        }

        $(document).ready(function () {
            $('html, body').animate({
                scrollTop: 0
            }, 200);
        });

        // $(".starfield").starscroll(bit-mode,layers,stars,dimension,speed,colour,varience,animate);

        /**
        * like
        */
        $('.manual').on('click', '.like-button', function () {
            $(this).toggleClass('liked');
            var like = $(this).parents('.article').find('.like');
            var likes = parseInt(like.text());
            var diff = 1;
            if ($(this).hasClass('liked')) {
                likes += 1;
                like.html('<span class="fa fa-heart violet"></span> ' + likes);
            } else {
                likes -= 1;
                diff = -1;
                like.html('<span class="fa fa-heart"></span> ' + likes);
            }
            var url = "{{ path( 'add_like', {'id' : 'article_id'}) }}";
            var id = $(this).parents('.article').attr('id');
            url = url.replace('article_id', id);
            $.ajax({
                url: url,
                type: "POST",
                dataType: "text",
                data: {
                    "diff": diff
                },
                success: function (resp) {}
            });
        });

        /**
        * vote
        */
        $('.manual').on('click', '.sondage .reponse input', function () {
            var vote = $(this).parents('.reponse').find('.votes');
            var votes = parseInt(vote.text().replace(/[^\d.]/g, ''));
            var diff = 1;
            if ($(this).is(':checked')) {
                votes += 1;
                vote.text('+ ' + votes);
            } else {
                votes -= 1;
                diff = -1;
                vote.text('+ ' + votes);
            }
            var url = "{{ path( 'add_vote', {'id' : 'reponse_id'}) }}";
            var id = $(this).parents('.reponse').attr('id');
            url = url.replace('reponse_id', id);
            $.ajax({
                url: url,
                type: "POST",
                dataType: "text",
                data: {
                    "diff": diff
                },
                success: function (resp) {}
            });
        });

        /**
        * infiniteScroll
        */
        var offset = 0;
        var deviceAgent = navigator.userAgent.toLowerCase();
        var agentID = deviceAgent.match(/(iphone|ipod|ipad)/);

        $(window).data('ajaxready', true);
        $('.wrapper').append('<div class="loader-wrapper"><div class="loader"><div class="ball"></div><div class="ball"></div><div class="ball"></div></div></div>');
        infiniteScroll();
        $(window).scroll(function () {
            infiniteScroll();
        });

        function infiniteScroll() {
            if ($(window).data('ajaxready') == false) 
                return;
            
            if (($(window).scrollTop() + $(window).height()) == $(document).height() || agentID && ($(window).scrollTop() + $(window).height()) + 150 > $(document).height()) {
                $(window).data('ajaxready', false);

                $('.wrapper .loader-wrapper').fadeIn(400);
                var url = "{{ path('article_more', {'offset' : 'offset_val'}) }}";
                url = url.replace('offset_val', offset);
                $.get(url, function (data) {
                    if (data) {
                        $('.wrapper .loader-wrapper').fadeIn(400);
                        displayArticle(data);
                        offset += 1;
                        $(window).data('ajaxready', true);
                    }
                    $('.wrapper .loader-wrapper').fadeOut(400);
                });
            }
        };

        function displayArticle(data) {
            json = JSON.parse(data);
            $.each(json, function (i, item) {
                var article = `
                            <div class="article" id="` + json[i].id + `">
                                <div class="flex">
                                    <div>
                                        <div class="title">` + json[i].titre + `</div>
                                        <div class="date">` + json[i].date + `</div>
                                    </div>
                                    <div class="username violet">` + json[i].utilisateur.username + `</div>
                                </div>
                                <div class="content">
                                    ` + json[i].contenu + `
                                </div>
                                <div class="img"></div>
                            `;
                if (json[i].sondage.titre) {
                    article += `
                                    <div class="sondage">
                                        <div class="title">` + json[i].sondage.titre + `</div>
                                        `;
                    var reponses = json[i].sondage.reponses;
                    jQuery.each(reponses, function (i, item) {
                        var vote = "";
                        $.each(reponses[i].vote, function (i, item) {
                            if (item.username == username) {
                                vote = "checked";
                                return;
                            }
                        });
                        article += `
                                            <div class="reponse funkyradio" id="` + reponses[i].id + `">
                                                <div class="funkyradio-default">
                                                    <input type="checkbox" name="checkbox" id="checkbox` + reponses[i].id + `" ` + vote + `/>
                                                    <label for="checkbox` + reponses[i].id + `">
                                                        ` + reponses[i].contenu + `
                                                        <span class="votes violet">+ ` + reponses[i].vote.length + `</span>
                                                    </label>
                                                </div>
                                            </div>
                                        `;
                    });
                    article += `</div>`
                }
                var liked = "";
                $.each(json[i].thumb, function (i, item) {
                    if (item.username == username) {
                        liked = "liked";
                        return;
                    }
                });
                article += `
                                <div class="separator-pink"></div>

                                <div class="like">
                                    <span class="fa fa-heart"></span>
                                    ` + json[i].thumb.length + `
                                </div>

                                <div class="separator"></div>

                                <div class="button-block">
                                    <a class="like-button ` + liked + `">
                                        <span class='like-icon'>
                                            <div class='heart-animation-1'></div>
                                            <div class='heart-animation-2'></div>
                                        </span>
                                        J'aime
                                    </a>
                                    <button class="button btn-light">
                                        <span class="fa fa-comments"></span>
                                        Commenter
                                    </button>
                                </div>
                            </div>
                    `;
                $('.manual>span').append(article);
                calcMaxWidth();
                enableInvertScroll();
            });
        }
    </script>
{% endblock %}