<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>
            {% block title %}Base{% endblock %}
        </title>
        <link rel="shortcut icon" href="{{ asset('gfx/favicon.ico') }}" type="image/x-icon">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet"/>
        <link rel="stylesheet" type="text/css" href="{{ asset('css/reset.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('vendor/bootstrap/css/bootstrap.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('css/jInvertScroll.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('css/style.css') }}">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <div class="wrapper">
            {% block body %}{% endblock %}
        </div>
        {# flashbag #}
        {% if app.request.hasPreviousSession %}
            {% set top = 0 %}
            {% for type, messages in app.session.flashbag.all() %}
                {% for message in messages %}
                    <div class="row alert alert-{{ type }} text-center box-shadow" style="top:{{ top }}px;">
                        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                        {{ message }}
                    </div>
                    {% set top = top + 72 %}
                {% endfor %}
            {% endfor %}
        {% endif %}
        <script src="{{ asset('vendor/jquery/jquery.min.js') }}"></script>
        <script src="{{ asset('vendor/bootstrap/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('js/jInvertScroll.js') }}"></script>
        <script src="{{ asset('js/script.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>