{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    {% if error %}
        <div class="alert alert-danger text-center">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            <strong>Erreur!</strong>
            {{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <div id="starfield"></div>
    <div class="login-wrapper">
        <div class="row">
            <div class="col-md-12 login-header">
                Connexion
            </div>
        </div>

        <div class="row login-form">
            <form class="form-signin" action="{{ path('login') }}" method="post">
                <div class="form-row form-group has-feedback">
                    <input class="form-control" type="text" id="username" name="_username" placeholder="Identifiant" required="required" autofocus="autofocus" value="{{ last_username }}">
                    <span class="glyphicon glyphicon-user form-control-feedback"></span>
                </div>
                <div class="form-row form-group has-feedback">
                    <input class="form-control" type="password" name="_password" id="password" placeholder="Mot de passe" aria-describedby="passwordHelp" required="required">
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>
                <div class="form-check checkbox">
                    <input class="form-control form-check-input inp-cbx" id="cbx" type="checkbox" name="_remember_me" style="display: none;"/>
                    <label class="cbx" for="cbx">
                        <span>
                            <svg width="12px" height="10px" viewbox="0 0 12 10">
                                <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                            </svg>
                        </span>
                        <span>Se souvenir de moi</span>
                    </label>
                </div>
                <div class="submit-btn">
                    <button type="submit" class="button btn-block">Connexion</button>
                </div>
                <p>
                    Pas encore de compte ?
                    <a href="{{ url('register') }}">Créer un compte</a>
                </p>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            </form>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/starscroll.js') }}"></script>
    <script type="text/javascript">
        $('html').css({'background-image': 'radial-gradient(rgba(96,0,255,.25),rgba(96,0,255,.05))'})
        $('#starfield').html('').starscroll(8, 3, 30, 4, 4, [
            96, 255, 255
        ], true, true, '8-bit');
    </script>
{% endblock %}